
<div class="dashboard -mb-46">
    <div class="text-2xl  w-full flex h-screen  bg-[#e7e9e2] fixed overflow-y-auto  " >
       
           
           <div class="sidebar w-1/5 h-full p-5 bg-[#404040]  text-[#a9b4fa] font-bold hover:bg-harmony pt-40 bg-midnight ">
            DASHBOARD
   
             <hr class=" mt-10">
   
             <div class="mt-10   p-3 rounded hover:bg-sky hover:text-white text-[#a9b4fa] font-bold cursor-pointer transition duration-900 ease-in-out" (click)="backHome()"> <mat-icon>home</mat-icon> Home</div>
             <div class="mt-10   p-3 rounded hover:bg-sky hover:text-white text-[#a9b4fa] font-bold cursor-pointer" (click)="getOrders()"> <mat-icon>shopping_cart</mat-icon > Orders</div>
             <div class="mt-10   p-3 rounded hover:bg-sky hover:text-white text-[#a9b4fa] font-bold cursor-pointer"   (click)="getProducts()"> <mat-icon>inventory_2</mat-icon> Products</div>
             <div class="mt-10   p-3 rounded hover:bg-sky hover:text-white text-[#a9b4fa] font-bold cursor-pointer"  (click)="getUsers()"> <mat-icon class="text-2xl">group</mat-icon> Users</div>
             <hr class=" mt-10">
             
           </div>

           
   
<div class="main w-4/5 p-5 mx-5  mt-20 "> 
    <app-income-chart></app-income-chart>
    <div class="flex w-full items-end justify-end">
       
        <button type="button" class="bg-[#13ce66] ml-10 p-3 rounded-xl text-white font-bold px-5" (click)="createProduct(true)">New Product</button>
    </div>
             
 <div class="userTable shadow-md w-full h-2/3  justify-center items-center bg-white text-black rounded-xl mt-2 overflow-auto p-2">
               
    <!-- order table -->
   

    <table *ngIf="orders" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-28 p-8">
        
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    Order Id
                </th>

                <th scope="col" class="px-6 py-3">
                    Product name
                </th>

                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Customer
                </th>

                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    
                </th>
                <th scope="col" class="px-6 py-3">
                    
                </th>
            </tr>
        </thead>
        <tbody class="overflow-auto ">
            <tr *ngFor="let ord of orders" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input id="checkbox-table-search-{{ord.id}}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="checkbox-table-search-{{ord.id}}" class="sr-only">checkbox</label>
                </div>
              </td>
              <td>{{ ord.id }}</td>
              <td class="px-6 py-4">{{ ord.products[0].name }}</td>
              <td class="px-6 py-4">{{ ord.quantity }}</td>
              <td class="px-6 py-4">{{ ord.createdAt }}</td>
              <td class="px-6 py-4">{{ ord.user.firstName }} {{ ord.user.lastName }}</td>
              <td class="px-6 py-4">{{ ord.totalPrice }}</td>
              <td class="px-6 py-4">{{ ord.status }}</td>
              <td><button (click)="approveOrder(ord.id)" *ngIf="ord.status==='pending'" class="bg-blue-600 py-1 px-3 rounded-md text-wite font-bold">Approve</button></td>
              <td><button (click)="cancelOrder(ord.id)" *ngIf="ord.status==='pending'" class="bg-red-400 py-1 px-3 rounded-md text-white font-bold">Cancel</button></td>
              <td><button (click)="deleteOrder(ord.id)" ><mat-icon class="text-red-600">delete</mat-icon></button></td>
            </tr>
          </tbody>
    </table>


   <!-- table order end -->



   <!-- user table start -->



   <table  *ngIf="users" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">User Id</th>
        <th scope="col" class="px-6 py-3">First Name</th>
        <th scope="col" class="px-6 py-3">Last Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Role</th>
        <th scope="col" class="px-6 py-3">Active</th>
      </tr>
    </thead>
    <tbody class="overflow-auto">
      <tr *ngFor="let usr of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="p-4">{{ usr.id }}</td>
        <td class="px-6 py-4">{{ usr.firstName }}</td>
        <td class="px-6 py-4">{{ usr.lastName }}</td>
        <td class="px-6 py-4">{{ usr.email }}</td>
        <td class="px-6 py-4">{{ usr.role }}</td>
        <td class="px-6 py-4">{{ usr.isActive ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
  


   <!-- end user table -->

 <br> <br>

   <!-- product table start -->


   <table *ngIf="products" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Product Name</th>
        <th scope="col" class="px-6 py-3">Category</th>
        <th scope="col" class="px-6 py-3">Quantity</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody class="overflow-auto">
      <tr *ngFor="let product of products" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input id="checkbox-table-search-{{ product.id }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-table-search-{{ product.id }}" class="sr-only">checkbox</label>
          </div>
        </td>
        <td>{{ product.id }}</td>
        <td class="px-6 py-4">{{ product.name }}</td>
        <td class="px-6 py-4">{{ product.category }}</td>
        <td class="px-6 py-4">{{ product.quantity }}</td>
        <td class="px-6 py-4">{{ product.price }}</td>
        <td class="px-6 py-4"><mat-icon class="text-red-600" (click)="deleteProduct(product.id)">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
  



   <!-- end product table -->


               </div>
             
         
   
       </div> 
   
   </div>
   
   
   