
<div class="bg-[#060301] px-12 py-1  text-white text-xl flex justify-between items-center ">
     <div>
        <div class="text-3xl font-bold">About Us</div>
        <div>
            Bakehaven, established by Sunny Singh in 2018, <br>
            has become a leading name in the baking <br>
            Our company is recognized as one of the Top 5 Baking Product... <br>
            <button class="bg-yellow-400 mt-3">Read more..</button>
        </div>
     </div>
    
    <ul class="flex flex-col items-center justify-center gap-3">
        <div class="text-3xl font-bold">Quick links</div>
     <li><a routerLink="home">Home</a></li>
     <li><a routerLink="about">About</a></li>
     <li><a routerLink="product">Product</a></li>
     <li><a routerLink="gallery">Gallery</a></li>
     <li><a routerLink="contact">Contact</a></li>
    </ul>


  <div>
    <div class="text-3xl font-bold">
        contact Us 
    </div>
    <div>
    NM No 4,5, Ground Floor, CTS No 2642, <br> 
    E-Mail: bakehaven@gmail.com <br>
    <span class="text-2xl underline font-bold">+250-784-660-905</span>
    
    </div>
  </div>
 </div>
 
 
 
      
 