<div>
<app-signup *ngIf="showSignupForm"></app-signup>
<app-login *ngIf="showLoginForm"></app-login>
<app-product-form *ngIf="showProductForm"></app-product-form>

<div class="bg-[#826D5E] p-8 text-white text-2xl flex items-center justify-around z-50 ">
  
    <ul class="flex flex-col md:flex-row  items-center justify-center gap-16">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="product">Product</a></li>
        <li><a routerLink="gallery">Gallery</a></li>
        <li><a routerLink="contact">Contact</a></li>
    </ul>
    <ul class="flex flex-col md:flex-row items-center justify-between gap-8 ">
        <li *ngIf="!isLogged"><button (click)="showSignup(true)">Signup</button></li>
        <li *ngIf="!isLogged"><button (click)="showLogin(true)">Login</button></li>
        <li *ngIf="isLogged"><button (click)="logout()">Logout</button></li>
    </ul>
 
</div>

</div>



     
