.background {
    background-image: url("../../../assets/catbanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px; 
    color: white; 
    
  }

  .text {
    z-index: 40; 
    position: relative;
  }